.page-title
  margin-top: 15px
  margin-bottom: 15px
  font-family: 'Cinzel', serif
  text-align: center
  border-bottom: 0.25px solid black
  box-shadow: 0.25px 1px 1px black

.buttons
  display: flex
  flex-direction: row
  justify-content: center
  align-items: baseline

  .delete-button
    padding: 13px
    padding-top: 1.5px
    padding-bottom: 1.5px
    background-color: #ececec
    border: 1px solid grey
    font-family: 'Cinzel', serif
    font-weight: normal
    text-decoration: none

  .delete-button:hover
    background-color: #d60000
    border: none
    transform: scale(1.0125)

  .edit-button
    padding: 17px
    padding-top: 1.5px
    padding-bottom: 1.5px
    border: 1px solid grey
    margin-right: 20px
    background-color: #ececec

  .edit-button:hover
    background-color: #ffd23f
    border: none
    transform: scale(1.0125)
